<h3 class="text-center">Welcome to House of Comfort</h3>

<h3 class="text-center">Select A Category</h3>
<div class="card-group">
  <% @categories.each do |category, items| %>
  <div class="card">
    <h3 class="card-title text-center">
      <%= link_to category.capitalize, menu_by_category_path(category: category), class: "text-decoration-none" %>
    </h3>
  </div>
  <% end %>
</div>
