<nav class= "navbar navbar-expand-lg navbar-light bg-light col-12" >
  <div class="navbar-collapse collapse col-12">
    <%= link_to "COMFORT", menu_category_path, class: "navbar-brand col-9 f-15" %>
    <ul class="navbar-nav mr-auto col-3">
      <li class="nav-item active"><a class="nav-link" href="">Home</a></li>
      <li class="nav-item active"><a class="nav-link" href="">Menu</a></li>
      <li class="nav-item active"><a class="nav-link" href="">Galllery</a></li>
      <li class="nav-item active"><a class="nav-link" href="">Contact</a></li>
    </ul>
  </div>
</nav>
